/* Color Systems */
.bg-black {
  background-color: $black !important;
}

.bg-white {
  background-color: $white !important;
}

@each $key, $value in $theme-colors {
  .bg-#{$key} {
    background-color: $value !important;
  }
  a.bg-#{$key}:hover, a.bg-#{$key}:focus {
    background-color: darken($value, 5%) !important;
  }
}

.fg-black {
  color: $black !important;
}

.fg-white {
  color: $white !important;
}

@each $key, $value in $theme-colors {
  .fg-#{$key} {
    color: $value !important;
  }
  a.fg-#{$key}:hover, a.fg-#{$key}:focus {
    color: darken($value, 5%) !important;
  }
}

@each $key, $value in $theme-colors {
  .border-#{$key} {
    border-color: $value !important;
  }
}

/* Social Media Colors */
@each $key, $value in $social-colors {
  .bg-#{$key} {
    background-color: $value !important;
  }
  .btn.bg-#{$key}:hover, .btn.bg-#{$key}:focus {
    background-color: darken($value, 5%) !important;
  }
}